body{
    background-color: #ffffff;
    margin: 0px;
    padding:0px;
}
.navigation{
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    left: 0px;
    overflow-y: auto;
    padding:30px;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 999;
}
ul{
    margin: 0px;
    padding: 0px;
}
.navigation a{
    color: #736B92;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 10px 40px;
    text-transform: uppercase;
}
.nav-link {
    text-decoration: none;
}
.nav-link:hover {
    color: #ff8000;
}
a.logo{
    color: #2176FF;
    font-family: 'Amatic SC',sans-serif;
    font-size: 34px;
    padding: 0px 60px;
    text-align: center;
    text-transform: uppercase;
}
.banner{
    background-image: url("https://images.unsplash.com/photo-1418290232843-5d7a0bd93f7d?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb");
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #dddddd;
    height: 700px;
    position: relative;
    text-align: center;
    top: 100px;
    width: 100%;
}
.banner-text{
    position: relative;
    top: 200px;
}
.btn {
    color: #ff8000;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Amatic SC', sans-serif;
    font-size: 35px;
}
.btn:hover {
    color: orange;
    font-size: 40px;
    font-weight: bold;
}
.btn:active {
    color: #2176FF;
    font-size: 40px;
}
h1{
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}
h2{
    color: #2176FF;
    font-family: 'Amatic SC',sans-serif;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
}
.banner h2{
    font-size: 120px;
    margin: -40px 0px 80px 0px;
}
.content{
    background-image: url('https://content.codecademy.com/courses/learn-links-and-buttons/project/mountain1.jpg');
    background-position: center top;
    background-size: cover;
    border-bottom: 1px solid #eeeeee;
    margin: 0 auto;
    overflow-y: auto;
    padding: 80px 0px;
    position: relative;
    text-align: center;
}
p{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    line-height: 42px;
    text-align: left;
}
.description{
    display: inline-block;
    width: 70%;
}
.activities-panel{
    margin-bottom: 40px;
    padding: 80px 0px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.activities-panel h2 {
    width: 100%;
}
.activity{
    background-color: #2176FF;
    box-sizing: border-box;
    width: 240px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Amatic SC',sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
}
.activity:hover {
    background-color: rgba(33, 118, 255, 0.76);
    font-size: 35px;
}
.activity:active {
    background-color: #2176FF;
}
.footer{
    background-color: #2176FF;
    padding: 30px;
    text-align: center;
}
.footer h2{
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
}
a {
    cursor: pointer;
    text-decoration: underline;
    color: #2176FF;
}
a:hover {
    text-decoration: none;
}