body {
    background-image: url("../images/background.jpeg");
    background-position: center;
    background-size: cover;
}

header {
    font-family: Roboto, Sans-Serif, serif;
    font-size: 45px;
    letter-spacing: 9px;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.fundamentals{
    width: 50%;
    height: 50%;
    margin: 3% auto;
    text-align: center;
}
.fundamentals div {
    display: inline-block;
    padding: 5px 15px;
}

.fundamentals h2 {
    font-family: Roboto, Sans-Serif, serif;
    font-size: 30px;
    letter-spacing: 4px;
}

.fundamentals a {
    font-family: Lora, Sans-Serif, serif;
    color: black;
    text-decoration: none;
}

.fundamentals a:hover {
    font-weight: bold;
    color: #e32323;
}

footer {
    margin-top: 12%;
    text-align: center;
}
