/*
    Components of the main webpage
 */
body {
    background-color: ghostwhite;
}

.main-header {
    font-family: Roboto, Sans-Serif, serif;
    font-size: 45px;
    letter-spacing: 9px;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.fundamentals{
    width: 50%;
    height: 50%;
    margin: 3% auto;
    text-align: center;

}
.fundamentals div {
    display: inline-block;
    padding: 5px 15px;
}

.fundamentals h2 {
    font-family: Roboto, Sans-Serif, serif;
    font-size: 30px;
    letter-spacing: 4px;
}

.fundamentals a {
    font-family: Lora, serif;
    color: black;
}

.fundamentals a:hover {
    font-weight: bold;
    color: #e32323;
}

footer {
    font-family: Lora, serif;
    margin-top: 12%;
    text-align: center;
}


/*
    Components of the additional webpages (colors, fonts and buttons)
 */

.guidelines-header {
    font-family: Roboto, Sans-Serif, serif;
    font-size: 25px;
    letter-spacing: 7px;
    display: flex;
    justify-content: center;
    padding: 45px;
}

.guidelines {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 8px 10px #888888;
}

.guidelines article {
    justify-content: center;
}

.guidelines h2 {
    font-family: Roboto, Sans-Serif, serif;
    letter-spacing: 3px;
    text-align: center;
    padding: 20px;
    margin: auto;
}

.guidelines p {
    font-family: Lora, serif;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
}

.guidelines li {
    line-height: 30px;
}

.external-links {
    text-align: center;
}

.external-links a {
    margin-right: 30px;
    margin-left: 30px;
}

img {
    display: block;
    margin: auto;
    width: 60%;
    padding: 0 25px;
}

figcaption {
    text-align: center;
    padding: 15px;
}




